.cabecera {
  background: linear-gradient(38deg, #000428, #004e92);
  color: #fafafa;
  display: flex;
}

.cabecera__bloque1 {
  height: 100vh;
  width: 50%;
  background: url(../images/poloSur.jpg) no-repeat 40% top;
  background-size: cover;
}

.cabecera__bloque2 {
  height: 100vh;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  text-align: center;
}

h1 {
  font-size: 5vw;
}

.articulo {
  max-width: 40em;
  margin: 5em auto;
  padding: 0 3em;
}


/* Correcciones para pantallas por debajo de 600px */

@media (max-width: 37.5em) {
  .cabecera {
    flex-direction: column;
  }

  .cabecera__bloque1 {
    width: 100%;
    height: 50vh;
  }

  .cabecera__bloque2 {
    width: 100%;
    height: auto;
    padding: 3em;
  }
}
