.navegacion {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 78, 146, .1);
  transition: background-color .3s;
}

.navegacion.scroll{
  background-color: rgba(0, 78, 146, 1);
}