.contenedor {
  padding: 4em 2em;
  display: flex; 
  border: 2px solid #000;
  justify-content: space-between; // ou space-around, flex-end, flex-start , center. Alinha no eixo principal.
  align-items: stretch; //ou flex-end, ou flex-start ou center, ou baseline; Alinha no eixo transversal.
  //flex-direction: row;  //se quiser reverso, chama row-reverse;
  //flex-direction: column ou column-reverse;
  //min-height: 100vh;
  //flex-wrap: wrap; //pode-se usar nomrap ou wrap-reverse;
 //justify-content: center;
}

.explorador {
  box-sizing: border box;
  background-color: rgba(250, 250, 250, 0.8);
  margin: 0.5em;
  padding: 1em;
  border-radius: 10px;
  text-align: center;
  color: #004e92;
  font-weight: 600;
  font-style: italic;
  font-size: 1em;
  line-height: 1.4;
  order: 0; //altera a ordem de um elemento concreto dentro de um espaço flex
  flex-bases: 200px;
  //flex-shrink: 1; //reduz quando não tem espaço suficiente, baseados em um).flex-shrink:0 nunca vai reduzir
  //flex-grow: 1; //crescem proporcionalmente, todos iguais
}
.exp2 {
  //flex-grow: 1; //cresce sozinho enquanto expande tamanho do container (proporção)
  //flex-shrink: 0; 
 // order: 2; 
}
.exp4 {
  //flex-grow: 2; //cresce sozinho, o dobro de pixels do exp2, os outros não crescem, ajustar ao tamanho do container.
  //flex-bases: 200px ; //tenta ajustar ao tamanho do container dentro do eixo principal.
  //order: 1; 
}

body {
  background: linear-gradient(38deg, #000428, #004e92);
}
