.contenedor {
  padding: 4em 2em;
}

.explorador {
  background-color: rgba(250, 250, 250, 0.8);
  margin: 1em;
  padding: 2em;
  border-radius: 10px;
  text-align: center;
  color: #004e92;
  font-weight: 600;
  font-style: italic;
  font-size: 1.2em;
  line-height: 1.4;
}

body {
  background: linear-gradient(38deg, #000428, #004e92);
}
